html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.Title{

position: absolute;
color: rgb(0, 0, 0);
font-size:x-large;
}

body{

background-image: url('Background-color.png');

}
